@font-face {
    font-family: Vazir;
    src: url('https://cdn.landin.ir/fonts/vazir/Vazir.woff2') format('woff2'),
         url('https://cdn.landin.ir/fonts/vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('https://cdn.landin.ir/fonts/vazir/Vazir-Bold.woff2') format('woff2'),
         url('https://cdn.landin.ir/fonts/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('https://cdn.landin.ir/fonts/vazir/Vazir-Black.woff2') format('woff2'),
         url('https://cdn.landin.ir/fonts/vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('https://cdn.landin.ir/fonts/vazir/Vazir-Medium.woff2') format('woff2'),
         url('https://cdn.landin.ir/fonts/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('https://cdn.landin.ir/fonts/vazir/Vazir-Light.woff2') format('woff2'),
         url('https://cdn.landin.ir/fonts/vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('https://cdn.landin.ir/fonts/vazir/Vazir-Thin.woff2') format('woff2'),
         url('https://cdn.landin.ir/fonts/vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}